@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #60606e;
}

.header-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 51%,
    rgba(255, 255, 255, 0) 81%
  );
}

.centering {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.card {
  display: block;
  position: relative;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 46px 24px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card:hover:before {
  transform: scale(30);
}

.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #047759;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.card:hover h3 {
  transition: all 0.3s ease-out;
  color: #ffffff;
}

.card:hover .icons {
  color: white !important;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #047759;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
}

.custom-shape-divider-bottom-1697618662 {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1697618662 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 103px;
}

.custom-shape-divider-bottom-1697618662 .shape-fill {
  fill: #ffffff;
}

@media (max-width: 767px) {
  .card:hover:before {
    transform: none;
  }

  .card:hover h3 {
    transition: none;
    color: #262626;
  }

  .card:hover .icons {
    color: #047759 !important;
  }

  .card h3 {
    font-size: 14px;
  }
}
